<ng-container *ngIf="customLayout else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header>
      <mk-layout-header-logo><img src="assets/logo.png" style="height: 40px;width: 160px;margin-left:10px;"></mk-layout-header-logo>
      <mk-layout-header-logo-mini><img src="assets/logo.png" style="height: 40px;width: 193px;margin-left:10px;"></mk-layout-header-logo-mini>
      <app-header-inner></app-header-inner>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar-left-inner></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
    <mk-layout-content>
      <div mk-layout-content-before-header>
        <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
          <mk-material-bar></mk-material-bar>
        </div>
      </div>
      <app-astronauts></app-astronauts>
    </mk-layout-content>
  </mk-layout-wrapper>
</ng-template>
