<div class="navbar-custom-menu">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <div class="search"><i class="ion-ios-search-strong"></i> <input id="searchInput" type="text" placeholder="Search for..."></div>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li mk-dropdown type="list" [isWrapper]="false" wrapper="false" class="notifications-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning">10</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="header">You have 10 notifications</li>
        <li>
          <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
            <li>
              <a href="#">
                <i class="fa fa-users text-aqua"></i> 5 new members joined today
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                page and may cause design problems
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-users text-red"></i> 5 new members joined
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-user text-light-blue"></i> You changed your username
              </a>
            </li>
          </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
        </li>
        <li class="footer"><a href="#">View all</a></li>
      </mk-dropdown-menu>
    </li>

    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img src="assets/nasta.png" class="user-image" alt="User Image">
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li class="user-header">
          <img src="assets/nasta.png" class="img-circle" alt="User Image">
        </li>
        <li class="user-body">
          <div class="row">
            <div class="col-xs-4 text-center">
              <a href="#">Profile</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Setting</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Sign Out</a>
            </div>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>
  </ul>
</div>
