.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 5px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 25px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  border-radius: 5px;
}
