/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.navbar-custom-menu {
  background-color: #1c2b36;
}

.skin-blue, .main-header, .navbar {
  background-color: #1c2b36;
}

.search {
  font-size: 13px;
  line-height: 25px;
  transition: all .5s ease;
  width: 162px;
  float: left;
  margin: 10px 0 0 30px;
  color: #fff1f3;
  overflow: hidden;
  text-shadow: none;
  white-space: nowrap;
  /*border: none;*/
  /*background-color: #1c2b36;*/
}

.search input {
  background: 0 0;
  border: none;
  outline: 0;
  width: 120px;
  padding: 0;
  margin: 0 0 0 -3px;
  height: 27px;
}

.search i {
  width: 16px;
  display: inline-block;
  cursor: pointer;
  padding-left: 1px;
  font-size: 16px;
  margin-right: 13px;
}
